/* Обнуляющий стиль*/ 
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%; font-size:100%; line-height: 1; font-size: 14px;-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}

/* Шрифт */ 

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Regular.woff') format('woff'),
        url('TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Black.eot');
    src: local('TT Lakes Black'), local('TTLakes-Black'),
        url('TTLakes-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Black.woff') format('woff'),
        url('TTLakes-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-ExtraBold.eot');
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url('TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-ExtraBold.woff') format('woff'),
        url('TTLakesCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: TT Lakes;
    src: url(/fonts/);
}

body {
    font-family: TT Lakes;
    background-color: #F8F8F8;
}

.container{
    margin: 0 auto;
    background-color: white;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

.sheare {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    vertical-align: middle;
}

@media (max-width:768px) {
    .content{
        flex-direction: column;
    }
    .header__call,
    .header__chat,
    .header__profile,
    .p2,
    .sheare {
        display: none;
        }

}

@media (max-width:1120px){
.sheare {
        display: none;
        }
        
}

@media (min-width:1120px) {
.container {
  display: none;
}
}

.icon {
    vertical-align: middle; 
    margin-left: 43px; 
    margin-right: 18px; 
    font-size: 16px;
   }

   img {
    vertical-align: middle; 
   }

header {
    max-width: 320px;
    display: inline;
    padding: 0;
}

.header__burger,
.header__logo {
    justify-content: left;
    align-items: left;
    text-align: left;
}

.header__stick,
.header__tools,
.header__search {
    justify-content: right;
    align-items: right;
    text-align: right;
}

.nav__site {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    overflow: scroll;
}

.nav__site > a {
padding: 8px;
box-sizing: border-box;
border-radius: 6px;
color: #7E7E82;
margin-left: 16px;
font-size: 16px;
line-height: 24px;
overflow: visible;
width: 248px;
height: 40px;
text-align: center;
}



.sheare > span {
margin-right: 10px;
}

nav a:hover {
box-shadow: inset 0 0 0 2px #B8FFEC;
}

.nav__page-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
}

h1 {
    margin-left: 12px;
    font-style: Bold;
    font-size: 28px;
    vertical-align: top;
    text-align: left;
}

a {
    white-space: nowrap;    
    color: #000;
    text-decoration: none;
    cursor: default;
}

