/* Обнуляющий стиль*/ 
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%; font-size:100%; line-height: 1; font-size: 14px;-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 0;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}


body * {
    box-sizing: border-box;
}
/* Шрифт */ 

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Regular.woff') format('woff'),
        url('TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Black.eot');
    src: local('TT Lakes Black'), local('TTLakes-Black'),
        url('TTLakes-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Black.woff') format('woff'),
        url('TTLakes-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-ExtraBold.eot');
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url('TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-ExtraBold.woff') format('woff'),
        url('TTLakesCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: TT Lakes;
    src: url(/fonts/);
}

/* Тело */ 
body {
    font-family: TT Lakes;
    background-color: #F8F8F8;
}

/* шапка */ 
.header { 
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    border-bottom: 1px solid #D9FFF5;
    height: 88px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
    background-color: white;
}

.header__left {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    max-width: 170px;
    width: 100%;
    justify-content: space-between;
}

.header__right {
    display: flex;
    text-align: right;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 105px;
    width: 100%;
}

.header__botton {
width: 40px;
height: 40px;
border-radius: 50%;
background: #FF3E79;
border: none;
}

.header__img{
width: 96,55px;
height: 50,81px;   
}
/* Навигация */ 
.nav__site {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    margin-left: 12px;
}

.nav__site::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
}

ul {
    padding-inline-start: 0px;
    max-width: 1440px;
    margin: 0 auto;
}

li {
padding: 8px;
box-sizing: border-box;
border-radius: 6px;
color: #7E7E82;
font-size: 16px;
line-height: 24px;
overflow: visible;
height: 40px;
text-align: center;
flex-flow: row nowrap;
}

li:hover {
box-shadow: inset 0 0 0 2px #B8FFEC;
}


.nav__page-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
}

.sheare {
    display: flex;
    text-align: right;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

h1 {
    margin-left: 12px;
    font-style: Bold;
    font-size: 28px;
    vertical-align: top;
    text-align: left;
}

li{
    white-space: nowrap;    
    color: #000;
    text-decoration: none;
    cursor: default;
}

.cps_table{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

/* Контент */ 
.content {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    
    line-height: 18px;
}

.content__info {
    margin: 0 16px;
}

.sheare {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;

}
.sheare > span {
margin-right: 10px;
}

.more__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    max-width: 1440px;
    background-color: #F8F8F8;
    border: 0px;
    margin-left: 12px
}

.more__p {
    margin-left: 16px;
}

/* Адаптив */ 
@media (min-width:120px) {
    .content{
        flex-direction: column;
    }

ul {
    overflow: scroll;   
}
    .header__call,
    .header__chat,
    .header__profile,
    .content__p2,
    .sheare {
        display: none;
        }
        #svg__768{
        display: none;
    }

    .header__right {
        padding-right: 14px;
    }
}

@media (min-width:768px){
.sheare,
.content__p3 {
        display: none;
        }
ul {
    overflow: scroll;
}
    .header__right{
        max-width: 350px;
        padding-right: 40px;
    }
    .header__call,
    .header__chat,
    .header__profile,
    .content__p2 {
        display: initial;
        }
    #svg__768{
        display: initial;
    }
}

@media (min-width:1120px) {
.contant {
display: none;
}
.header {
    display: none;
}


.nav__site {
    flex-wrap: wrap;
}
}






